@import 'ngx-toastr/toastr';
.loginBody{
    background-image: url('/assets/images/noxe-bg.jpg'); 
    background-position: center center; 
    background-size: cover;  
    height: 100vh;
}  
.loginContainer{ 
    background-color:rgb(0,0,0,0.7);

}