@import 'ngx-toastr/toastr';


.registerBody{
    background-image: url('/assets/images/noxe-bg.jpg'); 
    background-position: center center; 
    background-size: cover;  

} 
.registerContainer{ 
    background-color:rgb(0,0,0,0.7);

}